{% extends "StoreGestionProduitsBundle:Default:layout.html.twig" %}
        {% block head %}
            {{ parent() }}
        {% endblock %}
    {% block content %}

<div class="cp-wrapper">

    {% block header %}
        {{ parent() }}
    {% endblock %}

<section class="cp-inner-banner">
<div class="container">
<div class="cp-inner-banner-outer">
<h2>Espace Ajout Produit</h2>

<ul class="breadcrumb">
<li><a href="{{ path("affiche") }}">Home</a></li>
<li>Espace Magasin</li>
<li class="active">EA-Produit</li>
</ul>
</div>
</div>
</section>

<div class="cp-main-content">

<section class="cp-checkout-section pd-t100">
<div class="container">

<form class="cp-checkout-form" method="post" action="http://html.crunchpress.com/pet-care/form4.php">
<div class="row">
<div class="col-md-12 col-sm-12">

<div class="inner-holder">
<label>******</label>
<input type="text" name="email4" required pattern="^[a-zA-Z0-9-\_.]+@[a-zA-Z0-9-\_.]+\.[a-zA-Z0-9.]{2,5}$">
</div>
</div>
<div class="col-md-12 col-sm-12">

<div class="inner-holder">
<label>******</label>
<input type="password" name="password4" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
</div>
</div>
<div class="col-md-12 col-sm-12">
<div class="inner-holder">
<label>******</label>
<input type="text" name="name4" required pattern="[a-zA-Z ]+">
</div>
</div>
<div class="col-md-12 col-sm-12">
<div class="inner-holder">
<label>******</label>
<input type="text" name="address4" required>
</div>
</div>
<div class="col-md-12 col-sm-12">
<div class="inner-holder">
<label>******</label>
<input type="text" name="address4" required>
</div>
</div>
<div class="col-md-12 col-sm-12">
<div class="inner-holder">
<label>******</label>
<input type="text" required>
</div>
</div>
<div class="col-md-12 col-sm-12">
<div class="inner-holder">
<label>*******</label>
<input type="text" name="postcode4" required>
</div>
</div>
<div class="col-md-12 col-sm-12">
<div class="inner-holder">
<label>*******</label>
<input type="text" required>
</div>
</div>
<div class="col-md-12 col-sm-12">
<div class="inner-holder">
<label>*******</label>
<input type="email" name="email4" required pattern="^[a-zA-Z0-9-\_.]+@[a-zA-Z0-9-\_.]+\.[a-zA-Z0-9.]{2,5}$">
</div>
</div>
<div class="col-md-12 col-sm-12">
<div class="inner-holder">
<label>*******</label>
<input type="tel" name="phone4" required pattern="[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}">
</div>
</div>
<div class="col-md-12 col-sm-12">
<div class="inner-holder">
<label>******</label>
<input type="text" required>
</div>
</div>

</div>
<div class="cp-cart-bottom">
<a href="#" class="cp-btn-style3">Ajouter</a>
</div>
</form>
</div>
</section>
</div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
</div>

        {% block script %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}