{% extends "StoreGestionProduitsBundle:Default:layout.html.twig" %}
        {% block head %}
            {{ parent() }}
        {% endblock %}
    {% block content %}

<div class="cp-wrapper">

    {% block header %}
        {{ parent() }}
    {% endblock %}


<section class="cp-departments-section cp-departments-section_v2 pd-t100">
<div class="cp-bg-movement" data-ibg-bg="images/banner/White_screen.jpg"></div>
<div class="container" >
<div class="row">
<div class="col-md-6" >
<div class="cp-heading-style1_v1">
<h2>Profile</h2>
</div>
<form class="cp-checkout-form" method="post" action="http://html.crunchpress.com/pet-care/form4.php">
<div class="row">

<div class="col-md-6 col-sm-12">
<div class="inner-holder">
<label>nom*</label>
<input type="text" name="nom" required pattern="^[a-zA-Z0-9-\_.]+@[a-zA-Z0-9-\_.]+\.[a-zA-Z0-9.]{2,5}$">
</div>
</div>

<div class="col-md-6 col-sm-12">
<div class="inner-holder">
<label>prenom*</label>
<input type="text" name="prenom" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
</div>
</div>

<div class="col-md-12 col-sm-12">
<div class="inner-holder">
<label>nom du magasin*</label>
<input type="text" name="name4" required pattern="[a-zA-Z ]+">
</div>
</div>

<div class="col-md-12 col-sm-12">
<div class="inner-holder">
<label>address du magasin*</label>
<input type="text" name="address4" required>
</div>
</div>

<div class="col-md-6 col-sm-12">
<div class="inner-holder">
<label>ville*</label>
<input type="text" required>
</div>
</div>

<div class="col-md-6 col-sm-12">
<div class="inner-holder">
<label>email*</label>
<input type="email" name="email4" required pattern="^[a-zA-Z0-9-\_.]+@[a-zA-Z0-9-\_.]+\.[a-zA-Z0-9.]{2,5}$">
</div>
</div>

<div class="col-md-6 col-sm-12">
<div class="inner-holder">
<label>Telephone*</label>
<input type="tel" name="phone4" required pattern="[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}">
</div>
</div>

<div class="col-md-12 col-sm-12">
<div class="input-field btn-holder">
<button type="submit" class="cp-btn-style1 btn-submit" value="Submit" name="submit">Mettre a jour</button>
</div>
</div>

</div>
</form>
</div>

<div class="col-md-6">
<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJQ_V-Xn8z_RIRdQJKcU6ScdY&key=AIzaSyBExXPRcPTN3kFVW0ViJlvogBXDNQkcDPY" allowfullscreen></iframe>
</div>

</div>
</div>
</section>



<div class="cp-main-content">

<section class="cp-departments-section pd-t100">
<div class="cp-bg-movement" data-ibg-bg="images/banner/banner-before-img.png"></div>
<div class="container">


<div class="row">
<div class="col-md-6">

<div class="cp-heading-style1_v2">
<h2>Espace Magasin</h2>

</div>
</div>
</div>
<div class="row">
<div class="col-md-6">

<div class="cp-accordian-item">
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="cp-headingOne">
<h3 class="panel-title">
<a role="button" data-toggle="collapse" data-parent="#accordion" href="#cp-collapseOne" aria-expanded="true" aria-controls="cp-collapseOne">
<span class="icon-medical micon"></span>
Ajouter store
</a>
</h3>
</div>
<div id="cp-collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="cp-headingOne">
<div class="panel-body">
<div class="cp-text">
<p>ici vous pouvez ajouter et vendre vos produits sur notre store </p>
</div>
<button type="submit" class="btn-submit cp-btn-style2" value="Submit" name="submit">Ajouter</button>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading bg1" role="tab" id="cp-headingTwo">
<h3 class="panel-title">
<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cp-collapseTwo" aria-expanded="false" aria-controls="cp-collapseTwo">
<span class="icon-medical32 micon"></span>
modifier/supprimer store
</a>
</h3>
</div>
<div id="cp-collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cp-headingTwo">
<div class="panel-body">
<div class="cp-text">
<p>ici vous modifier le prix,la quantite,la description ou le poid de vos produits ou de les enlever du store </p>
 </div>
 <button type="submit" class="btn-submit cp-btn-style2" value="Submit" name="submit">Modifier/Supprimer</button>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" role="tab" id="cp-headingThree">
<h3 class="panel-title">
<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cp-collapseThree" aria-expanded="false" aria-controls="cp-collapseThree">
<span class="icon-medical1 micon"></span>
Ajouter encheres
</a>
</h3>
</div>
<div id="cp-collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cp-headingThree">
<div class="panel-body">
<div class="cp-text">
<p>ici vous pouvez ajouter et vendre vos produits sur notre store encheres </p>
</div>
<button type="submit" class="btn-submit cp-btn-style2" value="Submit" name="submit">Ajouter</button>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading bg2" role="tab" id="cp-headingFour">
<h3 class="panel-title">
<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cp-collapseFour" aria-expanded="false" aria-controls="cp-collapseFour">
<span class="icon-medical2 micon"></span>
modifier/supprimer encheres
</a>
</h3>
</div>
<div id="cp-collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cp-headingFour">
<div class="panel-body">
<div class="cp-text">
<p>ici vous modifier la date du debut d'un evennement d'encheres,le seuil de mise ou la description de vos produits ou de les enlever du store encheres </p>
</div>
<button type="submit" class="btn-submit cp-btn-style2" value="Submit" name="submit">Modifier/Supprimer</button>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading bg3" role="tab" id="cp-headingFive">
<h3 class="panel-title">
<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#cp-collapseFive" aria-expanded="false" aria-controls="cp-collapseFive">
<span class="icon-medical32 micon"></span>
deplacer vos produits
</a>
</h3>
</div>
<div id="cp-collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cp-headingFive">
<div class="panel-body">
<div class="cp-text">
<p>ici vous pouvez deplacer vos produits du store vers le store encheres ou bien le contraire </p>
</div>
<button type="submit" class="btn-submit cp-btn-style2" value="Submit" name="submit">Deplacer</button>
</div>
</div>

</div>
</div>
</div>
</div>
<div class="col-md-6">

<figure class="cp-thumb">
<img src="{{ asset('images/magasin.jpg') }}" alt="">
</figure>
</div>
</div>
</div>
</section>
    {% block footer %}
        {{ parent() }}
    {% endblock %}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5a9461244b401e45400d380d/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</div>

        {% block script %}
            {{ parent() }}
        {% endblock %}
    {% endblock %}