{% extends "StoreGestionProduitsBundle:Default:layout.html.twig" %}
      {% form_theme form 'bootstrap_3_layout.html.twig' %}
{# {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %} #}
        {% block head %}
            {{ parent() }}
        {% endblock %}
    {% block content %}

<div class="cp-wrapper">

    {% block header %}
        {{ parent() }}
    {% endblock %}

    <section class="cp-inner-banner">
        <div class="container">
            <div class="cp-inner-banner-outer">
                <h2>Online store</h2>

                <ul class="breadcrumb">
                    <li><a href="{{ path("affiche") }}">Home</a></li>
                    <li class="active">Modifier</li>
                </ul>
            </div>
        </div>
    </section>
    <br>
    {{ form_start(form) }}
    <div class="col-md-12 col-sm-12">
        <div class="inner-holder">
            <div class="row">
                <label> Commentaire:</label><br>
                {{ form_widget(form.texte) }}
            </div>
        </div>
    </div>
    <br>
    <div align="center">
        <input type="submit" align="center" class="btn-submit cp-btn-style2" value="{{ 'Modifier'|trans }}" />
    </div>
    {{ form_end(form) }}
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5a9461244b401e45400d380d/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    {% block footer %}
        {{ parent() }}
    {% endblock %}
</div>


{% block script %}
    {{ parent() }}
{% endblock %}
{% endblock %}