{% extends "StoreGestionProduitsBundle:Default:layout.html.twig" %}
        {% block head %}
            {{ parent() }}
        {% endblock %}
    {% block content %}

<div class="cp-wrapper">

    {% block header %}
        {{ parent() }}

    {% endblock %}

    <section class="cp-inner-banner">
        <div class="container">
            <div class="cp-inner-banner-outer">
                <h2>Online store</h2>

                <ul class="breadcrumb">
                    <li><a href="{{ path("affiche") }}">Home</a></li>
                    <li class="active">Product with Sidebar</li>
                </ul>
            </div>
        </div>
    </section>

    <div class="cp-main-content">

        <section class="cp-product-section pd-t100">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">

                        <div class="cp-show-result-outer">
                            <span class="showing">Showing 1–9 of 16 Results</span>
                            <div class="right-outer">
                                <select>
                                    <option value="">Default Sorting</option>
                                    <option value="">Default Sorting</option>
                                    <option value="">Default Sorting</option>
                                    <option value="">Default Sorting</option>
                                    <option value="">Default Sorting</option>
                                </select>
                                <div class="cp-btn-listing">

                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="active">
                                            <a href="#tab-01" aria-controls="tab-01" role="tab" data-toggle="tab"><i class="fa fa-th-large" aria-hidden="true"></i></a>
                                        </li>
                                        <li><a href="#tab-02" aria-controls="tab-02" role="tab" data-toggle="tab"><i class="fa fa-list" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="cp-tabs-holder">

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="tab-01">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-01.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Friskies Cat food</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-02.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Dog food</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-03.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Bissel Pet</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-04.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Hen Food</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-05.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Cat Chain</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-06.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Food Bowl</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-07.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Cat Bed</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-08.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Cat Food</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-09.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">First Aid Bag</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-10.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Leash And Collar</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-11.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Leash and Collar</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
 <i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-12.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Pets bag</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade in" id="tab-02">
                                    <div class="row cp-pro-listing">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-01.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Friskies Cat food</a></h3>
                                                        <span class="price">$50.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-02.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Dog food</a></h3>
                                                        <span class="price">$130.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-03.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Bissel Pet</a></h3>
                                                        <span class="price">$230.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-04.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Hen Food</a></h3>
                                                        <span class="price">$199.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-05.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Cat Chain</a></h3>
                                                        <span class="price">$450.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-sm-12">
                                            <div class="cp-pro-item">
                                                <div class="cp-pro-img">
                                                    <img src="{{ asset('images/product/pro-img-06.jpg')}}" alt="">

                                                    <div class="cp-pro-caption">
                                                        <ul>
                                                            <li class="pro-share-holder">
                                                                <a href="#"><i class="fa fa-share-alt"></i></a>
                                                                <div class="pro-social-links">
                                                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                                                    <a href="#"><i class="fa fa-behance"></i></a>
                                                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                                                </div>
                                                            </li>
                                                            <li class="share">
                                                                <a href="#"><i class="fa fa-heart-o"></i></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="cp-text">
                                                    <div class="top">
                                                        <h3><a href="{{ path('produitdetail')}}">Food Bowl</a></h3>
                                                        <span class="price">$110.00</span>
                                                    </div>
                                                    <span class="cp-rating">
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star-o" aria-hidden="true"></i>
</span>
                                                    <div class="cp-listed">
                                                        <span><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a></span>
                                                        <span><a href="{{ path("produit") }}"><i class="fa fa-link" aria-hidden="true"></i></a></span>
                                                    </div>
                                                    <p>Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed, fermentum at, orci. Etiam dictum. Nunc enim. Sed massa tellus, aliquam rhoncus, venenatis quis, suscipit ac, libero. Praesent odio tellus, posuere sed, dictum sed.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pagination-box">
                            <nav>
                                <ul class="pagination">
                                    <li> <a href="#" aria-label="Previous"> <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span> </a> </li>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li> <a href="#" aria-label="Next"> <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span> </a> </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">

                        <aside class="cp-sidebar-outer">

                            <div class="widget widget-search widget-search2">
                                <form method="get">
                                    <input type="text" placeholder="Search" required>
                                    <button type="submit" class="btn-submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                </form>
                            </div>

                            <div class="widget">
                                <h3>About Our Center</h3>
                                <div class=" widget-author-inner">
                                    <div class="cp-round-img">
                                        <img src="{{ asset('images/widget-about-img.jpg')}}" alt="">
                                    </div>
                                    <p>Praesent odio tellus, posuere sed, dictum sed, fermentum at, orcinc enim.Nunc enim.mentum at, orcinc enim dictum sed, ferm..</p>
                                </div>
                            </div>

                            <div class="widget widget-range-slider">
                                <h3>Filter By Price</h3>
                                <div class="cp-range-slider-holder">
                                    <div id="cp-range-slider"></div>
                                    <p><span>Range</span>
                                        <input type="text" id="amount">
                                        <span class="cp-filter">Filter</span>
                                    </p>
                                </div>
                            </div>

                            <div class="widget widget-recent-post">
                                <h3>Recent posts</h3>
                                <ul>
                                    <li>
                                        <div class="cp-recent-inner">
                                            <figure class="cp-thumb">
                                                <img src="{{ asset('images/recent-img-01.jpg')}}" alt="">
                                            </figure>
                                            <div class="cp-text">
                                                <span class="date">May 21, 2016</span>
                                                <h5>Monday Morning </h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-recent-inner">
                                            <figure class="cp-thumb">
                                                <img src="{{ asset('images/recent-img-02.jpg')}}" alt="">
                                            </figure>
                                            <div class="cp-text">
                                                <span class="date">April 12, 2016</span>
                                                <h5>Monday Morning </h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-recent-inner">
                                            <figure class="cp-thumb">
                                                <img src="{{ asset('images/recent-img-03.jpg')}}" alt="">
                                            </figure>
                                            <div class="cp-text">
                                                <span class="date">July 21, 2016</span>
                                                <h5>Take A Tour </h5>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="cp-recent-inner">
                                            <figure class="cp-thumb">
                                                <img src="{{ asset('images/recent-img-04.jpg')}}" alt="">
                                            </figure>
                                            <div class="cp-text">
                                                <span class="date">Aug 8, 2016</span>
                                                <h5>Monday Morning </h5>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="widget widget-categories">
                                <h3>Categories</h3>
                                <ul>
                                    <li>Behavior <span>(09)</span></li>
                                    <li>Cat Care <span>(11)</span></li>
                                    <li>Dog Care<span>(14)</span></li>
                                    <li>Genral Care <span>(15)</span></li>
                                    <li>General Health<span>(13)</span></li>
                                    <li>CIBC Cure<span>(14)</span></li>
                                </ul>
                            </div>

                            <div class="widget widget-instagram">
                                <h3>Instagram </h3>
                                <ul>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="{{ asset('images/instagram-img-01.jpg')}}" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="{{ asset('images/instagram-img-02.jpg')}}" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="{{ asset('images/instagram-img-03.jpg')}}" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="{{ asset('images/instagram-img-04.jpg')}}" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="{{ asset('images/instagram-img-05.jpg')}}" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="{{ asset('images/instagram-img-06.jpg')}}" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="{{ asset('images/instagram-img-07.jpg')}}" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="{{ asset('images/instagram-img-08.jpg')}}" alt=""></a>
                                        </figure>
                                    </li>
                                    <li>
                                        <figure class="cp-thumb">
                                            <a href="#"><img src="{{ asset('images/instagram-img-09.jpg')}}" alt=""></a>
                                        </figure>
                                    </li>
                                </ul>
                            </div>

                            <div class="widget widget-categories">
                                <h3>ARCHIVE</h3>
                                <ul>
                                    <li>January <span>(09)</span></li>
                                    <li>February <span>(11)</span></li>
                                    <li>March <span>(18)</span></li>
                                    <li>April <span>(15)</span></li>
                                    <li>May <span>(22)</span></li>
                                    <li>June <span>(12)</span></li>
                                    <li>July <span>(17)</span></li>
                                </ul>
                            </div>

                            <div class="widget widget-clouds">
                                <h3>POPULAR TAGS</h3>
                                <div class="tagcloud">
                                    <a href="#">Cat Care</a>
                                    <a href="#">Community</a>
                                    <a href="#">CIBC</a>
                                    <a href="#">General Health</a>
                                    <a href="#">Behavior</a>
                                    <a href="#">CIBC</a>
                                    <a href="#">Dog Care</a>
                                    <a href="#">Health Care</a>
                                    <a href="#">Emergecy</a>
                                </div>
                            </div>

                            <div class="widget widget-appointment">
                                <h3>Get appointment </h3>
                                <form method="get">
                                    <input type="text" placeholder="Your Name" required>
                                    <input type="email" placeholder="Email Address" required>
                                    <input type="tel" placeholder="Your Phone" required>
                                    <input type="text" placeholder="Your Pte’s Type" required>
                                    <button type="submit" class="btn-submit cp-btn-style3">Submit</button>
                                </form>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
            var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
            s1.async=true;
            s1.src='https://embed.tawk.to/5a9461244b401e45400d380d/default';
            s1.charset='UTF-8';
            s1.setAttribute('crossorigin','*');
            s0.parentNode.insertBefore(s1,s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    {% block footer %}
        {{ parent() }}
    {% endblock %}
</div>


{% block script %}
    {{ parent() }}
{% endblock %}
{% endblock %}