{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

<div class="col-md-12 col-sm-12">
    <div class="inner-holder">
        <label>nom *</label>
        {{ form_widget(form.nom) }}
    </div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="inner-holder">
        <label>prenom *</label>
        {{ form_widget(form.prenom) }}
    </div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="inner-holder">
        <label>email *</label>
        {{ form_widget(form.email) }}
    </div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="inner-holder">
        <label>username *</label>
        {{ form_widget(form.username) }}
    </div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="inner-holder">
        {{ form_widget(form.plainPassword) }}
    </div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="inner-holder">
        <div class="row">
            <label>roles</label>
            {{ form_widget(form.roles) }}
        </div>
    </div>
</div>
<br>
<br>
<div class="col-md-6 col-sm-12">
    <div class="input-field btn-holder">
        <input type="submit" class="cp-btn-style2 btn-submit" value="{{ 'registration.submit'|trans }}" />

    </div>
</div>
{{ form_end(form) }}

