{% extends "TransactionsGestionCommandeBundle:Default:layout.html.twig" %}
        {% block head %}
            {{ parent() }}
        {% endblock %}
    {% block content %}

<div class="cp-wrapper">
    {% block header %}
        {{ parent() }}
    {% endblock %}

    <section class="cp-inner-banner">
        <div class="container">
            <div class="cp-inner-banner-outer">
                <h2>Cart</h2>

                <ul class="breadcrumb">
                    <li><a href="{{ path("affiche") }}">Home</a></li>
                    <li>Products</li>
                    <li class="active">Cart</li>
                </ul>
            </div>
        </div>
    </section>

    <div class="cp-main-content">

        <section class="cp-cart-section pd-tb100">
            <div class="container">

                <div class="cart-table-row">
                    <div class="woocommerce">
                        <form method="get">
                            <table class="cp-shop_table">
                                <thead>
                                <tr>
                                    <th class="product-remove"></th>
                                    <th class="product-thumbnail">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for produits in produits %}

                                <tr class="cart_item">
                                    <td class="product-remove">
                                        <a href="{{ path('supprCart',{'id':produits.id}) }}"><i class="fa fa-trash"></i></a>
                                    </td>

                                    <td class="product-thumbnail">
                                        <a href="#"><img src="{{ asset('images/product/'~produits.urlImg) }}" alt=""></a>
                                        <span>{{ produits.caracteristiques }}</span>
                                    </td>
                                    <td class="product-price">
                                        {{ produits.prixNouv }} tnd
                                    </td>
                                    <td class="product-quantity">
                                        <div class="input-append spinner" data-trigger="spinner">
                                            <span class="spin-down" data-spin="down"><i class="fa fa-minus"></i></span>
                                            <input type="text" value="{{  panier[produits.id] }}" data-rule="quantity">
                                            <span class="spin-up" data-spin="up"><i class="fa fa-plus"></i></span>
                                        </div>
                                    </td>
                                    <td class="product-subtotal">
                                        {{ produits.prixNouv * panier[produits.id] }} tnd
                                    </td>
                                </tr>

                                    {% endfor %}

                                </tbody>
                            </table>
                        </form>

                        <div class="cp-cart-bottom">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                            <h3>THERE ARE {{ i }} ITEMS IN CART</h3>
                            <a href="{{ path("produit") }}" class="cp-btn-style3">continuer les achats</a>
                            <a href="{{ path("checkout") }}" class="cp-btn-style3">Passer Commande</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% block footer %}
        {{ parent() }}
    {% endblock %}
</div>

{% block script %}
    {{ parent() }}
{% endblock %}
{% endblock %}